.line-chart {
    height: 100%;
    width: 100%;
}

.x-axis-container {
    border: 1px solid black;
}

.line-chart {
    text.title {
        font-size: 12px;
        font-weight: bold;
    }

    .legend-item {
        cursor: pointer;

        &:hover {
            font-weight: bold;
            transition: all 500ms;
        }
    }
}
